.navWrapper {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 0;
}

.userWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    
}

.menuWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 325px;
}

.link {
    display: block;
    width: 100px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 2px solid skyblue;
    border-radius: 10px;
}

.link:hover, .link:focus, .link.active {
    background-color: skyblue;
}

.greeting {
    margin: 0 20px 0 auto;
}